<div class="top cbody">
	<div class="toplogo">
		<!--<a href="${base}/cmsmember/index.jspx"><img src="${root}/default/cms_member/img/logo.jpg" /></a>-->
	</div>
	<div class="topbanner">&nbsp;</div>	
</div>
<!--导航栏Begin-->
<div class="topmenu cbody1">
	<ul>
	  <li class="timeclass">
	  <script>
		<!--var day="";
		var month="";
		var ampm="";
		var ampmhour="";
		var myweekday="";
		var year="";
		mydate=new Date();
		myweekday=mydate.getDay();
		mymonth=mydate.getMonth()+1;
		myday= mydate.getDate();
		year= mydate.getFullYear();
		if(myweekday == 0)
		weekday=" 星期日 ";
		else if(myweekday == 1)
		weekday=" 星期一 ";
		else if(myweekday == 2)
		weekday=" 星期二 ";
		else if(myweekday == 3)
		weekday=" 星期三 ";
		else if(myweekday == 4)
		weekday=" 星期四 ";
		else if(myweekday == 5)
		weekday=" 星期五 ";
		else if(myweekday == 6)
		weekday=" 星期六 ";
		document.write(year+"年"+mymonth+"月"+myday+"日 "+weekday);
		//-->
	  </script>
      </li>
	  <li class="thisclass"><a href="${base}/">首 页</a></li>
	  <li class="thisclass"><a href="${base}/cmsmember/index.jspx">会员中心</a></li>
	  <li class="thisclass"><a href="${base}/cmsmember/ArticleMain.jspx">稿件管理</a></li>
	  <li class="thisclass"><a href="${base}/cmsmember/MemberInfo.jspx">个人资料</a></li>
	  <li class="thisclass"><a href="${base}/cmsmember/MemberPwd.jspx">修改密码</a></li>
	  <li class="thisclass"><a href="${base}/jeecms/LoginAloneLogout.jspx">安全退出</a></li>
	</ul>
</div>
<!--导航栏End-->