<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>会员中心  - ${web.name} - powered by jeecms</title>
<script src="${sysResRoot}/jquery.js" type="text/javascript"></script>
<link href="${sysResRoot}/front.css" rel="stylesheet" type="text/css"/>
<link href="${root}/default/cms_member/css/whole.css" rel="stylesheet" type="text/css"/>
<link href="${root}/default/cms_member/css/layout.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="${root}/common/css/theme.css" media="all"/>
</head>

<body class="BLOODHOME">
<!--页头Begin-->
[@cms.Include name='head.html' solution='default'/]
<!--页头End-->

<!--主体Begin-->
<div id="bd">
<div class="wrapper">
	[#include 'inc_member_left.html'/]
	
	<div class="col w775">
	  <div class="pwarp">
		<div class="prd">
			<div class="mem_center_bar">&sect; 控制面板 &gt; 我的留言</div>
			<div class="mem_center_content">
				<div class="bd m-guestbook">
				   <table>
					<col width="15%" />
					<tbody>
						[#list pagination.list as msg]
							<tr class="thi">
								<td colspan="2">提问：${(msg.title)!}</td>
							</tr>
							<tr class="tbq">
								<th></th>
								<td>
								<p>留言时间：${(msg.createTime)!}</p>
								<p>${(msg.contentMember)!}</p>
								</td>
							</tr>
							[#if (msg.contentAdmin)?? && msg.contentAdmin!='']
							<tr class="tba">
								<th></th>
								<td>
								<div class="hi">专家解答：${msg.replyTime}</div>
								<div class="bi">
								<p class="sh">[#if msg.member??]${msg.member.loginName!}[/#if]：你好！</p>
								<p>${msg.contentAdmin}</p>
								<p>谢谢提问， 祝你早日走出心灵阴霾，健康快乐生活！</p>
								</div>
								</td>
							</tr>
							[/#if]
							[/#list]
					</tbody>
				   </table>
				   	[#if pagination.list?size=0]
				   	<div style="margin-left:auto;margin-right:auto;width:200px;height:30px;margin-top:50px;">
						你还没有没有任何留言
					</div>
					[/#if]
					[#if pagination.list?size > 0]
					<div class="msg_page">[@cms.SysPage style='6'/]</div>
					[/#if]
				</div>
			</div>
		</div>
		</div>		
	</div>
		
<div style="clear:both;"></div>
</div>
</div>
<!--主体End-->

<!--页脚Begin-->
[@cms.Include name='foot.html' solution='default'/]
<!--页脚End-->
</body>
</html>