<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head xmlns="">
<title>文章搜索 - ${web.name} - powered by jeecms</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<script src="${base}/front_res/jquery.js" type="text/javascript"></script>
<link href="${sysResRoot}/front.css" type="text/css" rel="stylesheet" />
<link href="${sysResRoot}/front.css" type="text/css" rel="stylesheet" />
<link href="${root}/blue/article/css/whole.css" type="text/css" rel="stylesheet" />
<link href="${root}/blue/article/css/layout.css" type="text/css" rel="stylesheet" />
</head>
<body xmlns="">
<!--页头Begin-->
[@cms.Include name='head.html' solution='blue'/]
<!--页头End-->
<!--搜索栏Begin-->
[@cms.Include name='search.html' solution='blue'/]
<!--搜索栏End-->
<!--页面主体Begin-->
<div id="page_content">
  <!--左列Begin-->
  <div id="page_content_left">
    <div class="left_row">
      <div id="news_list2">
        <div id="news_list_t">
          <div id="news_list_tl"><img alt="" src="${root}/blue/article/img/head_1.gif" /></div>
          <div id="news_list_tm">
            <div id="bar_title2"><img alt="" align="absMiddle" src="${root}/blue/article/img/ico_2.gif" /> 搜索结果</div>
            <div style="clear: both"></div>
          </div>
          <div id="news_list_tr"><img alt="" src="${root}/blue/article/img/head_3.gif" /></div>
          <div style="clear: both"></div>
        </div>
        <div class="channel_news_list_m">[#if pagination.list?size gt 0] [#assign list=pagination.list cssClass='' cssStyle='' showLinkStyle='0' titLen=50 target='1' headMark='2' lineHeight='9' bottomLine='1' ctgForm='0' ctgClass='' pageClass='pagination' dateFormat='1' datePosition='1' in cms/] [@cms.SysContentInclude style='1-1'/] [@cms.SysPage style='1'/] [#else] 没有找到您要的内容！ [/#if]</div>
        <div id="news_list_b">
          <div id="news_list_bl"><img alt="" src="${root}/blue/article/img/foot_1.gif" /></div>
          <div id="news_list_bm"></div>
          <div id="news_list_br"><img alt="" src="${root}/blue/article/img/foot_3.gif" /></div>
          <div style="clear: both"></div>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
    <div style="clear: both"></div>
  </div>
  <!--左列End-->
  <!--右列Begin-->
  <div id="page_content_right">[@cms.Include name='right.html' solution='blue'/]</div>
  <!--右列End-->
  <div style="clear: both"></div>
</div>
<!--页面主体End-->
<!--页脚Begin-->
[@cms.Include name='foot.html' solution='blue'/]
<!--页脚End-->
</body>
</html>
