                <div class="col w222 mr6">
					<div class="mod-single">
						<a href="#"><img src="${root}/common/images/sb_7.png" alt=""></a>
					</div>
					<div class="skin-gray mt6">
						<div class="hd">
							<h3>常见问题</h3>
							<a class="more" href="${base}/question/index.htm"><img src="${root}/common/images/more.gif" alt="MORE" /></a>
						</div>
						<div class="bd u-qna">
                            [@cms.ArtiList chnlId='49' count='7' sysContent='1-1' sysTpl='0' style='3'  titLen='14'/]                            
						</div>
						<span class="cl"></span><span class="cr"></span>
					</div>

					<div class="skin-gray mt6">
						<div class="hd">
							<h3>如何采样</h3>
							<a class="more" href="${base}/sampling/index.htm"><img src="${root}/common/images/more.gif" alt="MORE"></a>
						</div>
						<div class="bd u-htpi">
                            [@cms.ArtiList chnlId='47' count='7' sysContent='1-1' sysTpl='0' style='3'  titLen='14'/]
						</div>
						<span class="cl"></span><span class="cr"></span>
					</div>

				</div>