<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=gbk" />
	<title>大连市血液中心</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="robots" content="all" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="${root}/common/css/theme.css" media="all" />
</head>
<body class="BLOODHOME">
    [@cms.Include name='head.html' solution='default'/]
	<div id="bd">
		<div class="wrapper">
			[@cms.Include name='left.html' solution='default'/]
			<div class="col w775">
				<div class="skin-gray">
					<div class="hd">
						<h3>${chnl.name}</h3>
						<!--<a class="more" href="#"></a>-->
					</div>
					<div class="bd">
						[@cms.DownloadList count='17' sysContent='1-1' titLen='50' isPage='1' sysPage='6' sysTpl='2' style='9'/]
					</div>
					<span class="cl"></span><span class="cr"></span>
				</div>
			</div>
    </div>
	</div>
    [@cms.Include name='foot.html' solution='default'/]
</body>
</html>
