<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head xmlns="">
<title>${chnl.name} - ${web.name} - powered by jeecms</title>
<meta content="text/html; charset=gb2312" http-equiv="Content-Type" />
<meta content="${chnl.keywords}" name="keywords" />
<meta content="${chnl.description}" name="description" />

<link href="${sysResRoot}/front.css" type="text/css" rel="stylesheet" />
<link href="${root}/default/article/css/whole.css" type="text/css" rel="stylesheet" />
<link href="${root}/default/article/css/layout.css" type="text/css" rel="stylesheet" />
</head>

<body>
<!--页头Begin-->[@cms.Include name='head.html' solution='default'/] <!--页头End-->
<!--搜索栏Begin-->[@cms.Include name='search.html' solution='default'/]<!--搜索栏End-->

<!--主体下Begin-->
<div class="page_row box">
  <div class="page_main_msg left">
    <div class="list_bar" style="width:680px;">[@cms.Position /]</div>
    <div class="left_row"><img src="${root}/default/article/img/banner.jpg" /></div>
    <div class="left_row box">

      <div class="list pic_news" style="margin-top: 5px">
        <div class="list_bar"> // ${chnl.name}</div>
        <div class="list_content dl_list">

		  [@cms.DownloadList count='10' sysContent='1-1' titLen='50' isPage='0' sysTpl='2' style='1'/]

		</div>
      </div>

    </div>
  </div>

  <div class="page_other_msg right">
	[@cms.Include name='right.html' solution='default'/]
  </div>
</div>
<!--主体下End-->


<!--友情链接Begin-->
[@cms.Include name='hotlink.html' solution='default'/]
<!--友情链接End-->

<!--页脚Begin-->
[@cms.Include name='foot.html' solution='default'/]
<!--页脚End-->
</body>
</html>
