[#--
头条带缩略图
调用方法：[@cms.DownloadList count='10' sysContent='1-1' titLen='50' isPage='0' sysTpl='2' style='1'/]
--]

[#if style=='1']
[#list pagination.list as ctt]
<dl [#if (ctt_index+1)%2==0]class="p1"[/#if]>
  <dt><a target="_blank" href="${ctt.url}" title="${ctt.title!}">${ctt.tit(titLen)}</a></dt>
  <dd class="pic"><a target="_blank" href="${ctt.url}"><img src="${ctt.imgUrl!}" alt="${ctt.title!}"/></a></dd>
  <dd class="attr">软件类型：${ctt.downType.name!} | 更新时间：${ctt.releaseDate?string('yyyy-MM-dd')!} | 人气：${ctt.visitTotal!} | 软件大小：${ctt.fileSize!} K</dd>
  <dd class="text">
  [#if ctt.description?length lte 110 ]${ctt.description}[#else]${ctt.description[0..109]}...[/#if]
</dl>
[/#list]

[#elseif style=='2']
<ul class="left_pic">
[#list pagination.list as ctt]
  <li><a href="${ctt.url}" title="${ctt.title!}" target="_blank"><img src="${ctt.imgUrl!}" alt="${ctt.title!}" /></a><a href="${ctt.url}" target="_blank">${ctt.tit(titLen)}</a></li>
[/#list]  
</ul>


[#else]
<ul>
[#list pagination.list as ctt]
<li><a href="${ctt.url}" title="${ctt.title!}" target="_blank">${ctt.tit(titLen)}</a></li>
[/#list]
</ul>
[/#if]

[#if isPage=="1" && pagination.list?size > 0]
	[#if sysPage!="0"]
		[@cms.SysPage style=sysPage cssClass=pageClass cssStyle=pageStyle/]
	[#elseif userPage!=""]
		[@cms.UserPage name=userPage cssClass=pageClass cssStyle=pageStyle solution=upSolution webRes=upWebRes/]
	[/#if]
[/#if] 