<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=gbk" />
	<title>${web.name}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="robots" content="all" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="${root}/common/css/theme.css" media="all" />
</head>
<body class="BLOODTEST">
    [@cms.Include name='head.html' solution='default'/]
	<div id="bd">
        <div class="path">
            您的位置: <a href="#">首页</a> &gt; <a href="#">献血新闻</a> &gt; <a href="#">大连市加大献血宣传力度</a>
        </div>
        <div class="wrapper">
            [@cms.Include name='left.html' solution='default'/]
        </div>
	</div>
    [@cms.Include name='foot.html' solution='default'/]
</body>
</html>
