<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=gbk" />
	<title>大连市血液中心</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="robots" content="all" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="./common/css/theme.css" media="all" />
</head>
<body class="BLOODTEST">
	<div id="hd">
		<div class="panel">
			<a href="#">登录</a> | <a href="#">注册</a> | <a href="#">站内导航</a> | <a href="#">加入收藏</a>
		</div>
		<div class="logo"><a href="#"><img src="./common/images/logo_2.png" alt="" /></a></div>
		<div class="nai">
			<div class="top">
				<ul>
					<li><a class="current" href="#"><span>鉴定所首页</span></a></li>
					<li><a href="#"><span>中心简介</span></a></li>
					<li><a href="#"><span>新闻动态</span></a></li>
					<li><a href="#"><span>鉴定流程</span></a></li>
					<li><a href="#"><span>法律法规</span></a></li>
					<li><a href="#"><span>收费标准</span></a></li>
					<li><a href="#"><span>如何采样</span></a></li>
					<li><a href="#"><span>鉴定常识</span></a></li>
					<li><a href="#"><span>常见问题</span></a></li>
					<li><a href="#"><span>留言板</span></a></li>
				</ul>
				<a class="goback" href="#">返回血液中心</a>
			</div>
		</div>
	</div>
	<div id="bd">
		<div class="path">
			您的位置: <a href="#">首页</a> &gt; <a href="#">献血新闻</a> &gt; <a href="#">大连市加大献血宣传力度</a>
		</div>
		<div class="wrapper">
				<div class="col w222 mr6">
					<div class="mod-single">
						<a href="#"><img src="common/images/sb_7.png" alt=""></a>
					</div>
					<div class="skin-gray mt6">
						<div class="hd">
							<h3>常见问题</h3>
							<a class="more" href="#"><img src="common/images/more.gif" alt="MORE" /></a>
						</div>
						<div class="bd u-qna">
							<ul class="info-list">
								<li><a href="">什么是DNA亲子鉴定？</a></li>
								<li><a href="">DNA鉴定主要用途有哪些？</a></li>
								<li><a href="">做亲子鉴定必须父亲和母亲同…</a></li>
								<li><a href="">多长时间可以拿到亲子鉴定结…</a></li>
								<li><a href="">采集什么样品可以进行DNA亲…</a></li>
								<li><a href="">亲子鉴定报告分几种？ </a></li>
								<li><a href="">做DNA亲子鉴定需要什么手续？ </a></li>
							</ul>
						</div>
						<span class="cl"></span><span class="cr"></span>
					</div>

					<div class="skin-gray mt6">
						<div class="hd">
							<h3>如何采样</h3>
							<a class="more" href="#"><img src="common/images/more.gif" alt="MORE"></a>
						</div>
						<div class="bd u-htpi">
							<ul class="info-list">
								<li><a href="">如何采集胎儿的羊水？</a></li>
								<li><a href="">如何采集口腔拭子？  </a></li>
								<li><a href="">如何采集毛发？  </a></li>
								<li><a href="">如何采集血液？  </a></li>
								<li><a href="">如何采集血痕？  </a></li>
								<li><a href="">采集什么样品</a></li>
								<li><a href="">可以进行DNA</a></li>
								<li><a href="">亲子鉴定？</a></li>
								<li><a href="">特殊样本采集</a></li>
								<li><a href="">（来电咨询）  </a></li>
							</ul>
						</div>
						<span class="cl"></span><span class="cr"></span>
					</div>

				</div>
				<div class="col w775">
					<div class="skin-gray">
						<div class="hd">
							<h3>新闻动态</h3>
							<a class="more" href="#"><img src="common/images/more.gif" alt="MORE"></a>
						</div>
						<div class="bd">
							<ul class="info-list m-wdm">
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部部署舟曲救援工作 下</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部关注奶粉致婴儿性早熟事件</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部：纯乳等20余种食品禁止添</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部下发支持新疆卫生跨越式发</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部部署舟曲救援工作 下</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部部署舟曲救援工作 下</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部关注奶粉致婴儿性早熟事件</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部：纯乳等20余种食品禁止添</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部下发支持新疆卫生跨越式发</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部部署舟曲救援工作 下</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部部署舟曲救援工作 下</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部关注奶粉致婴儿性早熟事件</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部：纯乳等20余种食品禁止添</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部下发支持新疆卫生跨越式发</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部发布夏季防暑十要点</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部、农业部近日联合发布农药</a></li>
								<li><span class="date">[2010-12-24]</span><a href="#">卫生部：纯乳等20余种食品禁止添</a></li>
							</ul>
							<div class="clear"></div>
							<div class="pagenation">
								<p>
									<a class="item" href="#">&laquo; 上一页</a>
									<span class="item current">1</span>
									<a class="item" href="#">2</a>
									<a class="item" href="#">3</a>
									<a class="item" href="#">4</a>
									<a class="item" href="#">5</a>
									<a class="item" href="#">6</a>
									<a class="item" href="#">下一页 &raquo;</a>
								</p>
							</div>
						</div>
						<span class="cl"></span><span class="cr"></span>
					</div>
				</div>
		</div>
	</div>
	<div id="ft">
		<p>
			<a href="#">美国血库协会AABB</a> | <a href="#">世界卫生组织(WHO)</a> | <a href="#">国际输血协会</a> | <a href="#">中国输血协会</a> | <a href="#">北京市血液中心</a> | <a href="#">天津市血液中心</a> | <a href="#">上海市血液中心</a> | <a href="#">广州血液中心</a>
		</p>
		<p class="cp">
			Copyright ? 2003~2009  辽ICP备09034185号         大连市血液中心地址：大连市中山区延安路90号    您是本网站第 <em>102510</em> 位访问者
		</p>
	</div>
</body>
</html>
