<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=gbk" />
	<title>大连市血液中心-留言板</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="robots" content="all" />
	<meta name="author" content="" />
    <script src="${sysResRoot}/jquery.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="${root}/common/css/theme.css" media="all" />
	<script type="text/javascript">
$(function(){
	$("#jvForm").validate(
		$.extend(
			{submitHandler: function(form) {
				Auxi.saveMsg('${base}');
//Auxi.saveMsg('${base}',function(data){if(data.success){if(data.isNeedCheck){alert("留言成功，请等待审核。");}else {alert("恭喜您，留言成功！");location.reload();}}else{alert(data.msg);}});
			}},
			$.validator.AlertError
		)
	);
	new JCore.CheckCode($('#msg_checkCode'),'${base}/CheckCode.svl');
});
</script>
</head>
<body class="BLOODHOME">
    [@cms.Include name='head.html' solution='default'/]
    <div id="bd">
        <div class="path" align="right">
            您的位置: <a href="${base}/">首页</a> &gt;
            <a href="${base}/jeecms/Guestbook.jspx">信息沟通</a> &gt;  
            <a href="${base}/jeecms/Guestbook.jspx?msgCtgId=${msgCtg.id!}">${msgCtg.name!}</a>
        </div>
        <div class="wrapper">
                <div class="col w222 mr6">
                    <div class="mod-bmenu">
                        <div class="hd hd02"><img class="t" src="${root}/common/images/bm_t3.png" alt="" /></div>
                        <ul class="bd">
                            <li class="item"><a [#if (msgCtg.id!) == 1] class="current"[/#if] href="${base}/jeecms/Guestbook.jspx?msgCtgId=1">常见问题</a></li>
                            <li class="item"><a [#if (msgCtg.id!) == 2] class="current"[/#if] href="${base}/jeecms/Guestbook.jspx?msgCtgId=2">在线咨询</a></li>
                            <li class="item"><a href="${base}/vote/index.htm">问卷调查</a></li>
                            <li class="item"><a [#if (msgCtg.id!) == 4] class="current"[/#if] href="${base}/jeecms/Guestbook.jspx?msgCtgId=4">留言板</a></li>
                        </ul>
                        <span class="cl"></span><span class="cr"></span>
                    </div>
                    <div class="mod-single mt6">
                        <a href="${base}/jeecms/Booking.jspx"><img src="${root}/common/images/sb_8.png" alt="" /></a>
                    </div>
                    <div class="mod-single mt6">
                        <a href="${base}/jeecms/Booking.jspx"><img src="${root}/common/images/sb_9.png" alt="" /></a>
                    </div>
                    <div class="mod-single mt6">
                        <a href="${base}/jeecms/SearchTest.jspx"><img src="${root}/common/images/sb_10.png" alt="" /></a>
                    </div>
                </div>
                <div class="col w775">
                    <div class="skin-gray mt18">
                        <div class="hd">
                            <h3>${msgCtg.name!}</h3>
                        </div>
                        <div class="bd m-guestbook">
                            [@cms.MsgList count='2' ctgId='${msgCtg.id!}' sysTpl='0' isPage='1'/]
                           
                            <div class="push">
                            	<form id="jvForm">
                                <table>
                                    <tbody>                                    	
                                        <tr>
                                            <th>标题</th>
                                            <td>
                                                <input type="text" id="msg_title" name="msg_title" size="34"
                                                       class="Q required" minlength="3" maxlength="50"
                                                       vld="{messages:{required:'请填写标题',minlength:'标题不能少于3个字符',maxlength:'标题长度不能超过50个字符'}}"/>
                                                <input type="hidden" id='msg_ctg_id' value='${msgCtg.id!}'/>                                                   
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>内容</th>
                                            <td>
                                                <textarea id="msg_content" name="msg_content" cols="40" rows="7" class="required" minlength="5" 
                                 					vld="{messages:{required:'请填写留言内容',minlength:'留言内容不能少于5个字符'}}"></textarea>
                                            </td>
                                        </tr>                                                                               
                                        <tr>
                                            <th></th>
                                            <td>
                                                <input class="B" type="submit" value="提 交" />
                                                <input class="B" type="reset" value="重 置" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </form>
                            </div>
                        </div>
                        <span class="cl"></span><span class="cr"></span>
                    </div>
                </div>
        </div>
    </div>
    [@cms.Include name='foot.html' solution='default'/]    
</body>
</html>
