<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=gbk" />
	<title>大连市血液中心-预约献血</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="robots" content="all" />
	<meta name="author" content="" />
    <script src="${sysResRoot}/jquery.js" type="text/javascript"></script>
    <script src="${base}/My97DatePicker/WdatePicker.js" type="text/javascript" language="javascript"></script>
	<link rel="stylesheet" type="text/css" href="${root}/common/css/theme.css" media="all" />
	<script src="${sysResRoot}/jam.js" type="text/javascript"></script>
    <script src="${sysResRoot}/jquery_dialog.js" type="text/javascript"></script>
</head>
<body>
    <div class="Popwarp">
	<div class="PopImg">
		[#if (returnMsg.returnState)?? && returnMsg.returnState=='0']
			<img src="${root}/common/images/rese_suss.jpg" />
		[#else]
			<img src="${root}/common/images/rese_fail.jpg" />
		[/#if]
	</div>
	<p>
		${returnMsg.returnMessage}
	</p>
	<input class="B" type="submit" name="" value="关 闭" onclick="javascript:window.parent.JqueryDialog.Close();" />
</div>   
</body>
</html>