<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
	<display-name>JEECMS System</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/applicationContext.xml
			classpath:/cacheContext.xml
			classpath:/coreContext.xml
		</param-value>
	</context-param>
	<servlet>
		<servlet-name>FckConnector</servlet-name>
		<servlet-class>
			com.jeecms.core.fckeditor.ConnectorServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>jcaptcha</servlet-name>
		<servlet-class>com.jeecms.common.checkcode.ImageCaptchaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FckConnector</servlet-name>
		<url-pattern>/fckeditor/editor/filemanager/connectors/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jcaptcha</servlet-name>
		<url-pattern>/CheckCode.svl</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>osivFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter>
		<filter-name>adminAccessControl</filter-name>
		<filter-class>com.jeecms.core.web.AccessControlFilter</filter-class>
		<init-param>
			<param-name>isControl</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	
	<filter>
  		<filter-name>IllegalCharacterFilter</filter-name>
  		<filter-class>com.jeecms.common.struts2.IllegalCharacterFilter</filter-class>
  		<init-param>
   			<param-name>characterParams</param-name>
   			<param-value>script,'</param-value><!-- 此处加入要过滤的字符或字符串，以逗号隔开 -->
  		</init-param>
 	</filter>
 	
 	<filter-mapping>
  		<filter-name>IllegalCharacterFilter</filter-name>
  		<url-pattern>*.jspx</url-pattern>
 	</filter-mapping>
		
	<filter-mapping>
		<filter-name>osivFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>osivFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>osivFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>osivFilter</filter-name>
		<url-pattern>*.jspa</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>osivFilter</filter-name>
		<url-pattern>*.jspx</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>osivFilter</filter-name>
		<url-pattern>*.php</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>osivFilter</filter-name>
		<url-pattern>*.asp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>osivFilter</filter-name>
		<url-pattern>*.aspx</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>adminAccessControl</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.jspa</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.jspx</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.php</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.asp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.aspx</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.jeecms.core.web.ApplicationListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.jeecms.core.web.UploadFileListerner</listener-class>
	</listener>
	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- session超时定义,单位为分钟 -->
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/403.html</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.jspa</welcome-file>
		<welcome-file>index.do</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<mime-mapping> 
		<extension>rar</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>
	
	<security-constraint>    
		<web-resource-collection>    
			<url-pattern>/*</url-pattern>    
			<http-method>PUT</http-method>    
			<http-method>DELETE</http-method>  
			<http-method>OPTIONS</http-method>    
			<http-method>TRACE</http-method>    
		</web-resource-collection>    
		<auth-constraint>    
		</auth-constraint>    
	</security-constraint>    
	<login-config>    
		<auth-method>BASIC</auth-method>    
	</login-config>    
 
</web-app>