<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
<head>
<meta http-equiv="Content-type" content="text/html; charset=gbk" />
<title>大连市血液中心</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="robots" content="all" />
<meta name="author" content="" />
<link rel="stylesheet" type="text/css"
	href="${root}/common/css/theme.css" media="all" />
</head>
<body class="BLOODTEST">
[@cms.Include name='head.html' solution='default'/]

<div id="bd">
<div class="path">
			您的位置: <a href="#">首页</a> &gt;<a href="#">留言板</a>
		</div>
<div class="wrapper">
[@cms.Include name='left.html' solution='default'/]
<div class="col w775">
<div class="skin-gray">
<div class="hd">
<h3>留言板</h3>
</div>
<div class="bd m-guest">
<form >
<table>
	<tbody>
		<tr>
			<th>昵称</th>
			<td><input class="Q" type="text" value="" size="44" /></td>
		</tr>
		<tr>
			<th>邮箱</th>
			<td><input class="Q" type="text" value="" size="44" /></td>
		</tr>
		<tr>
			<th>内容</th>
			<td><textarea class="Q" cols="60" rows="10"></textarea></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td class="sender"><input class="B" type="submit" value="提 交" />
			<input class="B" type="reset" value="重 置" /></td>
		</tr>
	</tbody>
</table>

</form>
</div>
<span class="cl"></span><span class="cr"></span></div>
</div>
</div>
</div>
<div>[@cms.Include name='foot.html' solution='default'/]</div>
</body>
</html>
