<div id="page_foot">
<a target="_blank" href="http://www.jeecms.com/news/743.htm">关于我们</a> - 
<a target="_blank" href="http://www.jeecms.com/yjdt/826.htm">联系我们 </a> - 诚聘英才 - 友情链接 - 诚征英才 - 
<a target="_blank" href="http://www.jeecms.com/download/index.htm">程序下载</a> - 
<a target="_blank" href="http://www.jeecms.com/yjdt/825.htm">许可协议</a> - 
<a onClick="this.style.behavior='url(#default#homepage)';this.setHomePage(location.href)" href="javascript:void(0);">设为首页</a> - 
<a onClick="window.external.addFavorite('http://www.jeecms.com','jeecms-国内专业、开源、免费的JAVA (JSP)版网站管理系统')" href="javascript:void(0);">加入收藏</a> - 
<a target="_blank" href="${base}/login/Jeecms.do">管理登录</a><br />
 Powered by <a target="_blank" href="http://www.jeecms.com">JeeCms</a> ${(web.copyright)!} ${(web.recordCode)!}
</div>
