<div id="page_head">
  <div id="page_logo"><a href="#"><img alt="" src="${root}/blue/article/img/logo.jpg" /></a></div>
  <div id="page_banner">&nbsp;</div>
  <div id="page_link">
    <ul>
      <li>【<a onclick="this.style.behavior='url(#default#homepage)';this.setHomePage(location.href)" href="javascript:void(0);">设为首页</a>】</li>
      <li>【<a onClick="window.external.addFavorite('http://www.jeecms.com','jeecms-国内专业、开源、免费的JAVA (JSP)版网站管理系统')" href="javascript:void(0);">加入收藏</a>】</li>
      <li>【<a href="/">联系我们</a>】</li>
    </ul>
  </div>
  <div style="clear: both"></div>
</div>
<!--导航栏Begin-->
<div id="page_nav">
  <div id="page_nav_left"><img alt="" src="${root}/blue/article/img/nav_lft.gif" /></div>
  <div id="page_nav_mid"><a class="channel" href="${base}/">首 页</a> &nbsp; [@cms.ChnlList id='' inner='1';c] ┆ &nbsp; <a class="channel" href="${c.url}">${c.name}</a> &nbsp; [/@cms.ChnlList] ┆ &nbsp; <a class="channel" target="_blank" href="${base}/jeecms/Guestbook.jspx">留言板</a></div>
  <div id="page_nav_right"><img alt="" src="${root}/blue/article/img/nav_rgt.gif" /></div>
  <div style="clear: both"></div>
</div>
<!--导航栏End-->
