<div id="hotlink">
  <div id="news_list4">
    <div id="news_list_t">
      <div id="news_list_tl"><img alt="" src="${root}/blue/article/img/head_1.gif" /></div>
      <div id="news_list_tm">
        <div id="bar_title4"><img alt="" align="absMiddle" src="${root}/blue/article/img/ico_2.gif" /> 友情链接</div>
        <div class="bar_more"><a href="#">more</a>..</div>
        <div style="clear: both"></div>
      </div>
      <div id="news_list_tr"><img alt="" src="${root}/blue/article/img/head_3.gif" /></div>
      <div style="clear: both"></div>
    </div>
    <div class="news_list_m"> - <a target="_blank" href="http://www.jeecms.com">JEECMS官网</a> - <a target="_blank" href="http://www.nc138.com">南昌手机报价网</a> - 虚位以待 - 虚位以待 - </div>
    <div id="news_list_b">
      <div id="news_list_bl"><img alt="" src="${root}/blue/article/img/foot_1.gif" /></div>
      <div id="news_list_bm"></div>
      <div id="news_list_br"><img alt="" src="${root}/blue/article/img/foot_3.gif" /></div>
      <div style="clear: both"></div>
    </div>
  </div>
</div>
