<div id="news_list5">
  <div id="news_list_t">
    <div id="news_list_tl"><img alt="" src="${root}/blue/article/img/head_1.gif" /></div>
    <div id="news_list_tm">
      <div id="bar_title5"><img alt="" align="absMiddle" src="${root}/blue/article/img/ico_1.gif" /> 用户登录</div>
      <div class="bar_more"></div>
      <div style="clear: both"></div>
    </div>
    <div id="news_list_tr"><img alt="" src="${root}/blue/article/img/head_3.gif" /></div>
    <div style="clear: both"></div>
  </div>
  <div class="news_list_m">
    <iframe src="${base}/jeecms/LoginFrameInput.jspx" frameborder="0" style="width: 210px; height: 150px"></iframe>
  </div>
  <div id="news_list_b">
    <div id="news_list_bl"><img alt="" src="${root}/blue/article/img/foot_1.gif" /></div>
    <div id="news_list_bm"></div>
    <div id="news_list_br"><img alt="" src="${root}/blue/article/img/foot_3.gif" /></div>
    <div style="clear: both"></div>
  </div>
</div>
<div id="news_list5">
  <div id="news_list_t">
    <div id="news_list_tl"><img alt="" src="${root}/blue/article/img/head_1.gif" /></div>
    <div id="news_list_tm">
      <div id="bar_title5"><img alt="" align="absMiddle" src="${root}/blue/article/img/ico_1.gif" /> 最新推荐</div>
      <div class="bar_more"></div>
      <div style="clear: both"></div>
    </div>
    <div id="news_list_tr"><img alt="" src="${root}/blue/article/img/head_3.gif" /></div>
    <div style="clear: both"></div>
  </div>
  <div class="news_list_m">[@cms.ArtiList chnlId='' count='10' sysContent='1-1' titLen='14' lineHeight='2' headMark='3' recommend='1' target='1'/]</div>
  <div id="news_list_b">
    <div id="news_list_bl"><img alt="" src="${root}/blue/article/img/foot_1.gif" /></div>
    <div id="news_list_bm"></div>
    <div id="news_list_br"><img alt="" src="${root}/blue/article/img/foot_3.gif" /></div>
    <div style="clear: both"></div>
  </div>
</div>
<div id="news_list5">
  <div id="news_list_t">
    <div id="news_list_tl"><img alt="" src="${root}/blue/article/img/head_1.gif" /></div>
    <div id="news_list_tm">
      <div id="bar_title5"><img alt="" align="absMiddle" src="${root}/blue/article/img/ico_1.gif" /> 热点关注</div>
      <div class="bar_more"></div>
      <div style="clear: both"></div>
    </div>
    <div id="news_list_tr"><img alt="" src="${root}/blue/article/img/head_3.gif" /></div>
    <div style="clear: both"></div>
  </div>
  <div class="news_list_m">[@cms.ArtiList chnlId='' count='10' sysContent='2-1' rollSpeed='50' rollDisplayHeight='150' isSleep='0' titLen='14' lineHeight='2' headMark='3' orderBy='2' target='1' /]</div>
  <div id="news_list_b">
    <div id="news_list_bl"><img alt="" src="${root}/blue/article/img/foot_1.gif" /></div>
    <div id="news_list_bm"></div>
    <div id="news_list_br"><img alt="" src="${root}/blue/article/img/foot_3.gif" /></div>
    <div style="clear: both"></div>
  </div>
</div>
<div id="news_list5">
  <div id="news_list_t">
    <div id="news_list_tl"><img alt="" src="${root}/blue/article/img/head_1.gif" /></div>
    <div id="news_list_tm">
      <div id="bar_title5"><img alt="" align="absMiddle" src="${root}/blue/article/img/ico_1.gif" /> 网友投票</div>
      <div class="bar_more"></div>
      <div style="clear: both"></div>
    </div>
    <div id="news_list_tr"><img alt="" src="${root}/blue/article/img/head_3.gif" /></div>
    <div style="clear: both"></div>
  </div>
  <div class="news_list_m">[@cms.VoteTopic sysTpl='0'/]</div>
  <div id="news_list_b">
    <div id="news_list_bl"><img alt="" src="${root}/blue/article/img/foot_1.gif" /></div>
    <div id="news_list_bm"></div>
    <div id="news_list_br"><img alt="" src="${root}/blue/article/img/foot_3.gif" /></div>
    <div style="clear: both"></div>
  </div>
</div>
