<div class="skin-gray mt6">
    <div class="hd">
        <h3>图片新闻</h3>
        <a class="more" href="${base}/pictures/index.htm"><img src="${root}/common/images/more.gif" alt="MORE"/></a>
    </div>
    <div class="bd m-picnews">
        [@cms.ArtiList chnlId='61' count='4' attr='2' titLen='7' sysTpl='0' style='2' /]
    </div>
    <span class="cl"></span><span class="cr"></span>
</div>

<div class="skin-gray mt6">
    <div class="hd">
        <h3>新闻动态</h3>
        <a class="more" href="${base}/latest/index.htm"><img src="${root}/common/images/more.gif" alt="MORE"/></a>
    </div>
    <div class="bd news-alert">
        [@cms.ArtiList chnlId='60' count='8' sysContent='1-1' titLen='15' sysTpl='0' style='1' /]
    </div>
    <span class="cl"></span><span class="cr"></span>
</div>
