<div class="left_row">
<div class="list">
<div class="list_bar">// 用户登录</div>
<div class="list_content">
<div id="div"><iframe src="${base}/jeecms/LoginFrameInput.jspx" frameborder="0" style="width: 210px; height: 150px"></iframe></div>
</div>
</div>
</div>
<div class="left_row">
<div class="list">
<div class="list_bar">// 精彩图文</div>
[@cms.ArtiList chnlId='' count='5' attr='2' titLen='25' sysTpl='0' style='2' /]</div>
</div>
<div class="left_row">
<div class="list">
<div class="list_bar">// 热门排行</div>
<div class="list_content">[@cms.ArtiList chnlId='' count='10' sysContent='1-1' titLen='17' sysTpl='0' style='1' /]</div>
</div>
</div>